
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */

  /* Height of navbar */ 
  /* padding: 48px 0 0; */
  padding: 0px 0 0;

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar.active {
  z-index: 9999;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  /*height: calc(100vh - 48px);*/
  height: 100vh;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}


@media (max-width: 991px) {

  .my-page-title-big {
     display: none; 
  }

  [role="main"] {
     padding-top: 54px; /* Space for fixed navbar */
     z-index: 1;
  }

  .my-mobile-header {
     position: fixed;
     top: 0;
     height: 54px; 
     width: 100vw;
     z-index: 2;
  }

}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap */
.list-group > .nav-item {
  padding-left: 20px;
}

.list-group > .list-group > .nav-item {
  padding-left: 40px;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 20px;
    right: 10px;
    display: none;
}

#dismiss.active {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}
