<!DOCTYPE html>
<!--https://getbootstrap.com/docs/4.1/examples/dashboard/-->
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script data-ad-client="ca-pub-5567993287917010" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NVP81HESV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9NVP81HESV');
  </script>

  <style>
   .jumbotron { padding-top: 3%; padding-bottom: 3%; } 
  </style>

  <!-- Custom styles for this template -->
  <link href="sidenav.css" rel="stylesheet">

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

</head>
<body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="map"></span>
                  Начало <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="briefcase"></span>
                  Путешествия
                </a>
              </li>

              <div class="list-group">
                  <li class="nav-item">
                    <a class="nav-link" href="indonesia2011sn.html">
                      <span data-feather="film"></span>
                      Тана Тораджа
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="indonesia2013.html">
                      <span data-feather="eye"></span>
                      Батаки Суматры
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="roundtheworld2014.html">
                      <span data-feather="globe"></span>
                      Кругосветка 2014
                    </a>
                  </li>
              </div> 

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="camera"></span>
                  Таиланд
                </a>
              </li>

              <div class="list-group">

                 <li class="nav-item">
                   <a class="nav-link" href="chinatown-walk2090.html">
                     <span data-feather="film"></span>
                     Чайнатаун
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link" href="kanchanaburi2010.html">
                     <span data-feather="film"></span>
                     Канчанабури
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link" href="bangkok-walk2010.html">
                     <span data-feather="film"></span>
                     Бангкок
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link" href="newyear2011.html">
                     <span data-feather="film"></span>
                     Новый год 2011
                   </a>
                 </li>

              </div> 

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

              <div class="container">

              {% if page.category == "travel" %}

                <div class="jumbotron text-center well">
                  <h1>{{ page.title }}</h1>
                </div>  
                {{ content }}

              {% else %}

                {{ content }}

              {% endif %}

               </div>

          </div>
        </main>

      </div>
    </div>

<script>
  feather.replace()
</script>

</body>
</html>
