<!DOCTYPE html>
<html>
<head>
{% comment %} 
https://getbootstrap.com/docs/4.1/examples/dashboard/
https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
{% endcomment %}
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  {% comment %} 
  <script data-ad-client="ca-pub-5567993287917010" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% endcomment %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NVP81HESV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9NVP81HESV');
  </script>

  <style>
   .jumbotron { padding-top: 3%; padding-bottom: 3%; } 
   blockquote { padding-left: 1%; padding-right: 1%; } 
  </style>

  <!-- Custom styles for this template -->
  <link href="sidenav.css" rel="stylesheet">

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

</head>
<body>

    <nav class="my-mobile-header navbar d-lg-none bg-light pr-3">
       <span class="text-right col-1 pb-1"><button type="button" id="sidebarCollapse" class="btn btn-secondary"><a href="#">&#9776;</a></button></span>
       <span class="text-right col-11"><h4>{{ page.short-title | default: page.title }}</h4></span>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-3 col-xl-2 d-none d-lg-block bg-light sidebar">
          <div class="sidebar-sticky">

             <div id="dismiss">
                <a class="d-flex align-items-center text-muted" href="#"><i data-feather="x-square"></i></a>
            </div>

            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link {{ page.index-active }}" href="index2.html">
                  <span data-feather="map"></span>
                  Начало <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item my-collapsible-item">
                <a class="nav-link" href="#travels" data-toggle="collapse">
                  <i data-feather="chevron-down"></i> Путешествия
                </a>
              </li>

              <div id="travels" class="list-group collapse show">
                  <li class="nav-item">
                    <a class="nav-link {{ page.indonesia2011sn-active }}" href="indonesia2011sn.html">
                      <span data-feather="camera"></span>
                      Тана Тораджа
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ page.indonesia2013sn-active }}" href="indonesia2013sn.html">
                      <span data-feather="eye"></span>
                      Батаки Суматры
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ page.roundtheworld2014sn-active }}" href="roundtheworld2014sn.html">
                      <span data-feather="globe"></span>
                      Кругосветка 2014
                    </a>
                  </li>
              </div> 

              <li class="nav-item my-collapsible-item">
                <a class="nav-link" href="#thailand" data-toggle="collapse">
                  <i data-feather="chevron-down"></i> Таиланд
                </a>
              </li>

              <div id="thailand" class="list-group collapse show">

                 <li class="nav-item">
                   <a class="nav-link {{ page.chinatown-walk2009sn-active }}" href="chinatown-walk2009sn.html">
                     <span data-feather="users"></span>
                     Чайнатаун
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link {{ page.kanchanaburi2010sn-active }}" href="kanchanaburi2010sn.html">
                     <span data-feather="navigation-2"></span>
                     Канчанабури
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link {{ page.bangkok-walk2010sn-active }}" href="bangkok-walk2010sn.html">
                     <span data-feather="image"></span>
                     Бангкок
                   </a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link {{ page.newyear2011sn-active }}" href="newyear2011sn.html">
                     <span data-feather="camera"></span>
                     Новый год 2011
                   </a>
                 </li>

              </div> 

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Интересные ссылки</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="bookmark"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">

              <li class="nav-item my-collapsible-item">
                <a class="nav-link" href="#astrophysics" data-toggle="collapse">
                  <i data-feather="chevron-down"></i> Астрофизика
                </a>
              </li>

              <div id="astrophysics" class="list-group collapse show">

                 <li class="nav-item my-collapsible-item">
                   <a class="nav-link" href="#astrophysics-popov" data-toggle="collapse">
                     <i data-feather="chevron-right"></i> С.Б. Попов
                   </a>
                 </li>

                 <div id="astrophysics-popov" class="list-group collapse">

                    <li class="nav-item">
                      <a class="nav-link {{ page.astrophysics-popov-active }}" href="science/popov/index.html">
                        <span data-feather="youtube"></span>
                        ВШЭ, 2020
                      </a>
                    </li>

                 </div> 

                 <li class="nav-item my-collapsible-item">
                   <a class="nav-link" href="#astrophysics-verkhodanov" data-toggle="collapse">
                     <i data-feather="chevron-right"></i> О.В. Верходанов
                   </a>
                 </li>

                 <div id="astrophysics-verkhodanov" class="list-group collapse">

                    <li class="nav-item">
                      <a class="nav-link {{ page.astrophysics-verkhodanov-active }}" href="science/verkhodanov/index.html">
                        <span data-feather="youtube"></span>
                        Космология
                      </a>
                    </li>

                 </div> 

              </div> 

            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-12 ml-sm-auto col-lg-9 col-xl-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

              <div class="container">

              {% if page.category == "travel" %}

                <div class="my-page-title-big jumbotron text-center well">
                  <h1>{{ page.title }}</h1>
                </div>  
                {{ content }}

              {% else %}

                {{ content }}

              {% endif %}

               </div>

          </div>
        </main>

        <div class="overlay"></div>

      </div>
    </div>

<script>
  feather.replace()

  $(function() {

   $('#sidebarCollapse').on('click', function () {
       // open sidebar
       $('.sidebar').removeClass('d-none');

       $('.sidebar').addClass('d-sm-block');
       $('.sidebar').addClass('col-sm-5');
       $('.sidebar').addClass('active');
       $('#dismiss').addClass('active');

       // fade in the overlay
       $('.overlay').addClass('active');
    });

    $('#dismiss, .overlay').on('click', function () {
        // hide sidebar
        $('#dismiss').removeClass('active');
        $('.sidebar').removeClass('active');
        $('.sidebar').removeClass('d-sm-block');
        $('.sidebar').removeClass('col-sm-5');

        $('.sidebar').addClass('d-none');

        // hide overlay
        $('.overlay').removeClass('active');
    });
          
    $('.my-collapsible-item').on('click', function() {
      var href = $('.nav-link', this)[ 0 ].hash;
      var down = $('.feather.feather-chevron-down', this);
      var right = $('.feather.feather-chevron-right', this);
      if( down )
      {
          down.replaceWith( feather.icons[ "chevron-right" ].toSvg() );
          {% comment %} 
          Без следующей строчки коллапса не происходит, если нажимать на шеврон. Сам шеврон при этом меняется 
          {% endcomment %}
          $( href ).collapse('hide');
      }
      
      if( right )
      {
          right.replaceWith( feather.icons[ "chevron-down" ].toSvg() );
          {% comment %} 
          Без следующей строчки коллапса не происходит, если нажимать на шеврон. Сам шеврон при этом меняется 
          {% endcomment %}
          $( href ).collapse('show');
      }
      {% comment %}   
      $('.feather', this).toggleClass('feather-chevron-right').toggleClass('feather-chevron-down');
      {% endcomment %}
    });

  });

</script>

</body>
</html>
