<p> <span class="badge badge-primary bg-primary">2011-01-12 11:55:12</span> </p>

<p>
Тана Тораджа - означает &quot;Страна народа Тораджа&quot; - одного из четырех народов, населяющих Сулавеси. Другими тремя являются макассарцы, бугис и мандар.  <br /><br />

Поездка в Тана Тораджу получилось на удивление <span style="font-style: italic">настоящей</span> - с погружением в атмосферу и быт местного населения. Поэтому я и решил как то зафиксировать все увиденное и услышанное - слишком много необычного было для меня.<br /><br />
Дисклеймер 1. В отчете содержится фото и видео жертвоприношения животных. Если вас это шокирует то подготовьтесь к быстрому скролированию ;-)<br />
Дисклеймер 2. Пересказываю, то что услышал от гида (который там родился и вырос) и местных жителей. Не факт, что это правда - некоторые факты расходятся с той же Википедией - но я именно фиксирую то, что услышал.<br /><br />
Основная часть отчета посвящена необычной церемонии похорон, но для начала немного познавательной информации.<br /><br />
<span style="font-weight: bold">Тана Тораджа</span><br />
Без всякой натяжки можно сказать, что это должно быть одно из красивейших мест на нашей планете. Представьте - бесконечные рисовые поля среди гор, на склонах которых разбросаны домики причудливой формы. Вершины гор теряются в облаках, по полям бродят буйволы, то там то здесь дорогу перерезают бурные речушки. Прикладываю несколько фотографий, но к сожалению мои способности фотографа не позволят передать красоту тех мест.<br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5345983507/" target="_blank">
  <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5288/5345983507_aa90767b88_z.jpg"  /></a><br />
<a href="https://www.flickr.com/photos/zhaffsky/5346750910/" target="_blank">
  <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5245/5346750910_c2aa460ff2_z.jpg"  /></a><br />
<a href="https://www.flickr.com/photos/zhaffsky/5346148321/" target="_blank">
  <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5082/5346148321_72a7d391ac_z.jpg"  /></a><br />
  <span style="font-weight: bold">Этимология слова Тораджа</span><br />
Одна версия идет от бугис - в их языке &quot;то риаджа&quot; означает &quot;люди с верхних земель&quot; - сиречь горцы. Сами Тораджа с этим не согласны и считают, что название народа происходит от их собственного языка, где &quot;то ра&quot; на севере территории и &quot;то рая&quot; на юге - означает &quot;гостеприимные люди&quot;. Факт гостеприимности лично подтверждаю ;-) - народ очень улыбчивый и доброжелательный. Вообще правильное название Торая - но голландское название Toraja было неправильно прочитано и так уж и повелось. <br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5346469068/" target="_blank">
  <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5162/5346469068_436653083a_z.jpg"  /></a><br />
<span style="font-weight: bold">Общественная модель</span><br />
Общество разделено на четыре касты - аристократию (noble people), средний класс, простолюдинов и рабов. Переход между кастами невозможен. В наше время рабам надо платить за работу, но сама каста осталась. Не знаю правда это или нет - но гид утверждал, что если юноша и девушка из разных каст вступят в открытую связь - им грозит смерть от рук собственных родителей. <br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5348318444/" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5289/5348318444_08b85a7e01_z.jpg"  /></a><br />
Со слов гида, по вероисповеданию 60% составляют протестанты, 30% католики и оставшиеся 10 - мусульмане и анимисты. <br /><br />
<span style="font-weight: bold">Экономика</span> <br />
Основным активом в экономике Тана Тораджи являются буйволы и свиньи. Жители активно инвестируют в скот и вместо рынка недвижимости надувают пузыри на рынке буйволов. Стоимость во многом определяется дизайном пятен. Например, показанный на картинке буйвол стоит 365 миллионов рупий - что то около $40 000. <br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5346804226/" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5005/5346804226_592069674f_z.jpg"  /></a><br /><br />
На церемониях похорон буйволов приносят в жертву. Считается, что душа попадает в рай на повозке, запряженной буйволами. Естественно при высоких ценах на буйволов позволить себе жертвоприношения буйволов могут только аристократы. При этом на похоронах средних аристократов нужно принести в жертву минимум 24 буйвола, а высших - минимум 32. Это минимум - а вообще, чем больше - тем лучше. Число 24 якобы происходит от того, что существует именно столько разновидностей буйволов по типу окраски. <br /><br />
Гид мне пытался объяснить, что выделение буйволов на жертвоприношение происходит в рамках сложной схемы кредита. При этом часть буйволов не убивается, а передается правительству в виде налогов и для выполнения общественных работ. Но главное - чтобы семья обеспечила на похоронах именно необходимый минимум буйволов. Если я правильно понял, то если кому то нужно забить буйвола - то он передает его для жертвоприношения, а ему возвращают мясо плюс проценты. Мясо принесенных в жертву буйволов может даже разыгрываться на аукционе.<br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5347700403/" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5210/5347700403_5853e19c3f_z.jpg"  /></a><br /><br />
Еще одним необычно важным элементом являются сигареты. Сигареты подносят как приношения мертвым, сигарету обязательно нужно предложить гостю. Поэтому когда вы идете на похороны самое правильно пожертвовать сигареты - они очень пригодятся хозяевам для угощения многочисленных родственников.<br /><br />
</p>

<p> <span class="badge badge-primary bg-primary">2011-01-13 00:16:44</span> </p>

<p>
Перед тем как перейти к церемонии похорон остановимся на архитектурном стиле Тана Тораджи. Основой стиля является &quot;тонконан&quot; - традиционный дом Тораджей. Выглядит он следующим образом.<br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5348844757/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5168/5348844757_90de5b1369_z.jpg" /></a><br />
В таком доме живут дети и родители. Со временем когда семья разрастается, дети вырастают и заводятся внуки размещение семьи приобретает вот такой вид<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349465964/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5049/5349465964_6aacbbab3d_z.jpg" /></a><br />
или вот такой<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349465974/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5161/5349465974_e196d4904a_z.jpg" /></a><br />
Обратите внимание на количество крестов под крышей. Они имеют тот же смысл, что и полосы у народа бугис и отражают социальный статус. Два креста - это принадлежность к среднему классу. Три - к аристократии. Четыре и более - к высшей аристократии.<br /><br />
Поросшие зеленью крыши на самом деле всего лишь сгнивший бамбук, которым до появления современных технологий крыли крышу. В таком доме отчетливо пахнет землей. Естетственно это мало кому понравится - поэтому теперь крыши кроют обычным железом.<br /><br />
Название &quot;тонконан&quot; якобы происходит от слова Тонкин - то есть Тораджи считаются выходцами с территорий современного северного Вьетнама. Со временем они мигрировали на юг Вьетнама, затем на лодках перебрались на Филиппины, а оттуда на лодках же добрались до Сулавеси. Здесь я делаю умозаключение, что они поставили лодки на крыши домов на память и видимо это им так понравилось, что они далее стали строить дома в подобном стиле.<br /><br />
Вместе с тонконаном обычно строится домик поменьше - в том же стиле, но &quot;без окон без дверей&quot;.<br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5348576623/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5166/5348576623_3309fb4c26_z.jpg" /></a><br />
Это хранилище для риса. При этом &quot;тонконан&quot; олицетворяет мужское начало, а хранилище для риса - женское. Интересно, что рис в хранилище засыпает всегда мужчина, а берет оттуда - только женщина.<br /><br />
Тонконан ориентируется севера на юг и выглядит внутри вот так - к сожалению мне удалось посмотреть внутри только старый музейный дом - как выглядит современный так и осталось для меня загадкой.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348875861/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5005/5348875861_3b1c306645_z.jpg" /></a><br />
Дом состоит из трех отделений. В северной части - место где спят дети - это будущее. Оно и показано на фотографии. В центральной части расположена кухня. В южной части - прошлое, место для мертвых, там спят родители. Почему для мертвых? Дело в том, что умерших Тораджи не хоронят сразу. Гроб лежит в южной комнате и родители спят там же. Это имеет важный смысл прощания с ушедшими. И пока идет прощание, семья готовит церемонию похорон. Подготовка может занимать месяцы, а то и годы. Не последнюю (а может даже и первую) роль здесь играет финансовый вопрос. Известен случай когда прошло шесть лет до момента похорон.<br /><br />
Архитектурный стиль присутствует везде. Вот как выглядит церковь, где началась церемония погребения, на которой я присутствовал.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349196280/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5009/5349196280_07414a930f_z.jpg" /></a><br />
Современный дом<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349166180/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5250/5349166180_fec9beabe7_z.jpg" /></a><br />
Наше бунгало <br />
<a href="https://www.flickr.com/photos/zhaffsky/5348875863/" class="postlink" rel="ugc" target="_blank">
  <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5201/5348875863_3e26db2056_z.jpg" /></a><br />
</p>

<p> <span class="badge badge-primary bg-primary">2011-01-15 13:14:21</span> </p>

<p>
После вводной информации перейдем к самому колоритному - церемонии похорон. Вообще церемонии похорон массово проводятся в июле-августе (сухой сезон). В эти месяцы случается форменный наплыв туристов из Европы - в порядке убывания (со слов гида): Франция, Испания, Голландия, Германия. Но вообще церемонии имеют место быть круглый год. Перед отъездом из Макассара гид сказал, что мы должны понимать, что проведении церемонии от него не зависит - хотя в какой то из окрестных деревень церемония наверняка проводится. Так и случилось - проводилось даже две большие церемонии, одна уже заканчивалась, а вторая началась на следующий день после нашего приезда.<br /><br />
Про первую церемонию мы узнали достаточно забавно. На подъезде мы остановились осмотреть туристический аттракшн под названием Mount Erotic.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5355781427/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5123/5355781427_ff324f3092_z.jpg" /></a><br />
На смотровой площадке сидел и пил кофе солидный дядька. Увидев меня он сурово спросил:<br />
- Hello. Where are you from?<br />
Дядьку буквально окружала аура человека, привыкшего чтобы ему подчинялись. Имея богатый опыт общения с чиновниками, я рефлекторно вытянулся:<br />
- Sir, Russia, sir!<br />- Ahhh. From Russia with love?<br />
- Sir, yes, sir!<br />
- Where is your guide?<br /><br />
<a href="https://www.flickr.com/photos/zhaffsky/5355781431/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5168/5355781431_acfa6b16e1_z.jpg" /></a><br />
В итоге он дал гиду свою визитку (&quot;not many people come here from Russia&quot;) и сказал что хочет помочь нам - поскольку проводится большая церемония - покажите де визитку и будут вам все двери открыты. Увидев визитку, гид слегка обалдел - оказалось дядька - что то типа бывшего губернатора Тана Тораджи.<br /><br />
Но увы церемония эта уже заканчивалась, да к тому же была где то далеко в горах, поэтому нам стали искать другую и в этом славном деле нам повезло.<br /><br />
<span style="font-weight: bold">День первый</span> <br />
Хоронили бабушку по имени Turui Berduka Cita. Она умерла больше года назад в возрасте 90 лет. На похоронах было принесено в жертву 24 буйвола и более 200 свиней. Свиньи, насколько я понял, пошли в основном на питание гостей - коих по моим подсчетам было не менее 500. Из буйволов было реально убито по моим подсчетам - 20, по словам одного из местных - 21.<br /><br />
Вообще церемония началась с церковной службы, но на нее мы опоздали<br /><br />
На церемонию нужно приходить с пожертвованием по этому на подходе мы купили сигарет. На фотографии гид позирует с ними <br />
<a href="https://www.flickr.com/photos/zhaffsky/5348555816/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5166/5348555816_7fce2bfa65_z.jpg" /></a><br />
Сигареты мне гид сунул в левую руку и сказал, что нужно подавать именно ей. Приняла их лично нынешняя глава семьи<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348567044/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5124/5348567044_da10d81aee_z.jpg" /></a><br />
Нас провели на помост для размещения гостей и усадили пить кофе.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349040832/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5081/5349040832_49034830f3_z.jpg" /></a><br />
Пока мы пили кофе мы наблюдали процесс прибытия гостей. Вообще для размещения их были построены рядом с тонконанами специальные помосты вот такого вида - всего судя по номерам в количестве 27.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5355755089/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5048/5355755089_6189ec5980_z.jpg" /></a><br />
Еще до нашего появления было принесено в жертву два буйвола и мы наблюдали прибытие гостей имея в кадре вот такую картину их разделки на мясо.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5355846425/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5003/5355846425_fa178d2744_z.jpg" /></a><br />
Чтобы получить полную картину атмосферы - добавьте сюда рои мух на разделываемыми тушами, запах дыма, навоза и горелых свиных волос, а также периодический визг очередной убиваемой свиньи.<br /><br />
Гости прибывают как правило в составе процессий и и встречают их вот эти милые детки<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349444746/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5081/5349444746_5b4393814e_z.jpg" /></a><br />
Процессия. Все в черном - у Тораджей черный цвет - цвет солидарности.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5355866513/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5050/5355866513_c3be229498_z.jpg" /></a><br />
Вот как это выглядит на видео<br />

{% include video.html file="CIMG8090.mp4" poster="CIMG8090.AVI.jpg" %}

Прибыв, гости рассаживаются по помостам. И мужчины и женщины пожимают руки всем присутствующим.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5347955647/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5048/5347955647_149ce0d284_z.jpg" /></a><br />
Другая процессия - более красочная<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349012304/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5010/5349012304_44d169f273_z.jpg" /></a><br />
Эти пришли с песнями и танцами<br />

{% include video.html file="CIMG8114.mp4" poster="CIMG8114.AVI.jpg" %}

Сидеть было неинтересно и мы отправились смотреть что еще происходит.<br /><br />
Народ приносит свиней<br />

{% include video.html file="CIMG8031.mp4" poster="CIMG8031.AVI.jpg" %}

и укладывает их рядком. Скоро и их съедят. Свиньи тем не менее тут же засыпают как ни в чем не бывало.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348476953/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5286/5348476953_e4e04ba3cd_z.jpg" /></a><br />
Женщины не курят, а жуют какую-то смесь bettelnut и листьев.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5353435127/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5288/5353435127_efd04dd022_z.jpg" /></a><br />
В итоге выглядит это так<br />
<a href="https://www.flickr.com/photos/zhaffsky/5354062226/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5002/5354062226_f692be86eb_z.jpg" /></a><br />
Судя по всему от этой смеси их слегка таращит <br />

{% include video.html file="CIMG8136.mp4" poster="CIMG8136.AVI.jpg" %}

Мужчины вовсю жарят свиней на костре - прямо вот так<br />
<a href="https://www.flickr.com/photos/zhaffsky/5345877285/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5009/5345877285_c369ca9e14_z.jpg" /></a><br />
Затем их как то готовят в бамбуке - к сожалению процесс я пропустил. Вот итог - очень вкусное получается мясо кстати<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349023226/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5244/5349023226_bf6c6ca5d2_z.jpg" /></a><br />
После чего народ вместе с рисом накладывает кусочки мяса в лист бумаги и ест прямо так.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5354062232/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5166/5354062232_f4aa822cd8_z.jpg" /></a><br />
Из бамбука нам тут же вырезали по стакану<br />
<a href="https://www.flickr.com/photos/zhaffsky/5349026482/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5049/5349026482_3162cc95a8_z.jpg" /></a><br />
И налили в него местный слабоалкогольный напиток &quot;туак&quot;. Напиток делается из пальмового сока и очень приятен на вкус - что-то среднее между вкусом кваса и кумыса.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348425261/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5246/5348425261_59cedb7b4f_z.jpg" /></a><br />
На сегодня с нас хватит - пойдем осматривать туристические аттракшны. Завтра день жертвоприношения. Тем временем разделка туш буйволов завершена<br />
<a href="https://www.flickr.com/photos/zhaffsky/5354062230/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5250/5354062230_c053629948_z.jpg" /></a><br />
Вот этого беднягу завтра принесут в жертву.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5353435125/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5121/5353435125_a22ccac88d_z.jpg" /></a>
</p>

<p> <span class="badge badge-primary bg-primary">2011-01-17 22:17:46</span> </p>

<p>

<span style="font-weight: bold">День второй</span><br /><br />
На жертвоприношение буйволов я шел с некоторым содроганием - шутка ли, наблюдать процесс массового убийства животных. Но к моему огромному удивлению все мероприятие ни ужаса, ни отвращения не вызвало. Даже наоборот - воспринималось вполне органично в общей атмосфере Тана Тораджи. Было какое то такое ощущение: у любого живого существа есть цикл от рождения до смерти. Для этих животных пришло время смерти. Более того, хорошо, что они умирают в праздничной обстановке - на виду у толпы, с каким то смыслом, что ли. Наверное не последнюю роль играло отношение самих сэкрифайсеров (буду называть их так) - они это делали с какой то любовью. А толпа убийство очередного животного воспринимала так же легко, как мы воспринимаем новый залп салюта. <br /><br />
На картинке сэкрифайсер успокаивает буйвола<br />
<a href="https://www.flickr.com/photos/zhaffsky/5362680335/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5088/5362680335_0f6bc97c77_z.jpg" /></a><br />
Вообще процесс убийства буйвола должен быть максимально легким и быстрым - занимать буквально несколько секунд. Сэкрифайсеры - это своего рода звезды в Тана Торадже. И между ними идет постоянная конкуренция. Причем основным инструментом в борьбе является черная магия в виде наведения сглаза. Тот, кого сглазили, теряет способность легко и быстро убить буйвола - как следствие, его перестают приглашать на проведение жертвоприношений. <br /><br />
Вот собственно весь процесс.<br /><br />
Замах мачете для перерезания горла буйволу - происходит настолько быстро, что почти незаметен.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5347854231/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5282/5347854231_35ef6b2b3d_z.jpg" /></a><br />
Буйвол вздыбился<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348465074/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5285/5348465074_8ca9b58587_z.jpg" /></a><br />
Стремительно вытекает кровь<br />
<a href="https://www.flickr.com/photos/zhaffsky/5348467194/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5246/5348467194_e22c0367fc_z.jpg" /></a><br />
Буйвол упал<br />
<a href="https://www.flickr.com/photos/zhaffsky/5347853679/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5204/5347853679_be53bd302b_z.jpg" /></a><br />
Все<br />
<a href="https://www.flickr.com/photos/zhaffsky/5347854489/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5008/5347854489_ed397e9d4e_z.jpg" /></a><br />
Признаюсь в несколько нездоровом стремлении снять непосредственно момент перерезания горла. Вот лучшее что получилось<br />
<a href="https://www.flickr.com/photos/zhaffsky/5356367507/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5205/5356367507_5e32932e48_z.jpg" /></a><br />
Ну и видео, если кому интересно<br />

{% include video.html poster="CIMG8266.AVI.jpg" file="CIMG8266.mp4" %}

<br />

<span style="font-weight: bold">День третий</span><br /><br />
В последний день похорон проходило погребение. В прошлом погребение проходило в пещере, куда просто заносили гроб с телом. Но в наше время свободных пещер почти не осталось, поэтому принято строить modern cave - что типа склепа и оставлять тело в нем. Естественно это делается только для аристократии, простых людей хоронят в общих &quot;пещерах&quot;.<br /><br />
Погребение начинается в протестантской церкви. Фотографию церкви я уже показал, вот как она выгляди внутри.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5356983778/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5167/5356983778_99f8f1e89f_z.jpg" /></a><br />
Видео с окончанием проповеди<br />

{% include video.html file="CIMG8524.mp4" poster="CIMG8524.AVI.jpg" %}

Проповеди и речи - дело длинное, в ожиданию хожу и фотографирую церковь.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5356995012/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5284/5356995012_ae3f137e7d_z.jpg" /></a><br />
<a href="https://www.flickr.com/photos/zhaffsky/5356995014/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5283/5356995014_83d679a6b0_z.jpg" /></a><br />
Перед входом стоит паланкин - на нем понесут гроб с телом в &quot;пещеру&quot;.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5362641539/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5243/5362641539_73894e49d2_z.jpg" /></a><br />
Церковная церемония завершена и гроб погрузили на паланкин<br />
<a href="https://www.flickr.com/photos/zhaffsky/5362680331/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5162/5362680331_807c2136b4_z.jpg" /></a><br />
Нести приходится через джунгли<br />
<a href="https://www.flickr.com/photos/zhaffsky/5362641535/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5203/5362641535_ef1891c5a6_z.jpg" /></a><br />
Занос гроба с современную пещеру. Она еще не достроена - видимо денег не хватило на завершение отделки - значит будут еще доделывать, недостроенных &quot;пещер&quot; я там не видел.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5363997086/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5090/5363997086_ffe00ede5b_z.jpg" /></a><br />
Теперь паланкин предстоит водрузить на крышу пещеры.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5362641529/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5246/5362641529_0fc7b746fc_z.jpg" /></a><br />
Вот как это выглядит на видео<br />

{% include video.html file="CIMG8571.mp4" poster="CIMG8571.AVI.jpg" %}

До сих пор гадаю - как они это сделали? Не может же быть что это само?<br />
<a href="https://www.flickr.com/photos/zhaffsky/5363997092/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5005/5363997092_9b02ac2cde_z.jpg" /></a><br />
Rest in Peace!<br />
<a href="https://www.flickr.com/photos/zhaffsky/5363300432/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5008/5363300432_871561cb25_z.jpg" /></a><br />
На этом отчет по большому счету закончен. Но надеюсь никто не будет возражать если чуть попозже дополню его полезными и бесполезными заметками, а также просто удачно получившимися фотографиями и роликами.

</p>

<p> <span class="badge badge-primary bg-primary">2011-01-18 13:00:02</span> </p>

<p>

<span style="font-weight: bold">Приложение 1. Разное</span><br /><br />
<span style="font-weight: bold">Финансы</span><br />
За конец года я вымотался так, что не хотелось ровным счетом ничего организовывать. Лучше думаю переплачу, куплю какое нибудь &quot;все включено&quot; и пусть меня таскают как куль с мукой. Типа здесь <!-- m --><a class="postlink" href="https://www.sulawesi-indonesia.com/programs.html" rel="ugc" target="_blank">https://www.sulawesi-indonesia.com/programs.html</a><!-- m --> или здесь <!-- m --><a class="postlink" href="https://www.indoglobaltours.com/tours-destination/sulawesi.html" rel="ugc" target="_blank">https://www.indoglobaltours.com/tours-de ... awesi.html</a><!-- m -->.<br /><br />
Но цена порядка $1000 за троих все таки существенная (~11 млн рупий) и я решил в первый день провести разведку.<br /><br />
Для начала, тупо зашел в первое попавшееся агентство на набережной и попросил расписать по цене. В первых сказали, на фига вам приватным каром ехать из Макассара? Лучше за 90 тыс. с носа ехать Air-con басом в Тана Торджу, а там все решать на месте. На месте порядок цен такой: машина с водителем - 500 тыс. в день, гид - 350 тыс. в день, ресорт 300-400 тыс. в день. Итого 6 млн за 5 дней, но никак не 11. В 11 правда входило еще питание, но уж с питанием тем более разберемся на месте.<br /><br />
В итоге почти так и получилось - взяли приватный кар (на 6 мест) с водителем в Макассаре за 2,440,000 на 5 дней. Гид на 4 дня - 330 тыс в день. Размещение в Rantepao Lodge - 375 тыс за бунгало на троих. И отель в Sengkang на обратном пути - 400 тыс. Вообще по машине изначально сторговались на 2 млн 800 на 6 дней. Но потом программу сократили - и в итоге за 5 дней получилось столько.   <br /><br />
В Sengkang за 150 тыс на троих - двухчасовой заплыв в плавучую деревню. Возможно это много, но при таких суммах мне лень бегать чего то и искать и торговаться. <br /><br />
<span style="font-weight: bold">Перелет</span><br />
Я летел из BKK AirAsia с пересадкой в LCCT и далее в Makassar. Между рейсами в LCCT 2.5 часа, за которые надо было пройти паспортный контроль, зарегистрироваться на рейс и снова пройти паспортный контроль. В результате процесс пересадки прошел крайне нервно. В первых, вылет из БКК задержался минут на 20. Во вторых, с первого ноября AirAsia активно перешла на web checkin. Большинство стоек работают только на прием багажа, под нормальную регистрацию осталиь только 4 стойки - для регистрации на все рейсы.<br /><br />
Паспортный контроль по прилете - это всегда мое слабое место. Несмотря на все мои старания найти правильную очередь, я всегда встаю в очередь, которая по итогам движется медленнее всех. Уже все прошли - а я один стою. Попытки как то анализировать, в какую очередь вставать или вставать в очередь случайным образом - к успеху не приводят, я неизменно оказываюсь последним. <br /><br />
В этот раз я встал в самую короткую на вид очередь. Минут через 10 я начал что то подозревать - соседняя очередь двигалась существенно быстрее. Некоторое время я утешал себя законом Мерфи - &quot;соседняя очередь всегда движется быстрее&quot;. Но вскоре стало понятно, что никакой закон Мерфи мне не поможет - я опять лоханулся. Оказалось, что очередь в большинстве состоит из одних индусов и каждого мурыжили по 2-3 минуты. В итоге я прошел паспортный контроль когда до вылета оставался 1 час 5 мин.<br /><br />
Ерунда, легко успею, думал я - главное успеть зарегистрироваться. Не тут то было. В виду описанной ситуации с web checkin я обнаружил огромную очередь на регистрацию. Причем были все местные, которые летели семьями по 5-6 человек с 5-6 большими чемоданами. А ведь это AirAsia - бюджетный перевозчик. Всё взвешивали, в суматохе делили на количество голов, ошибались, пересчитывали, вычисляли стоимость оплаты, торговались, спорили. И так снова и снова. Короче за 40 минут до вылета я начал тупо проталкиваться к стойке регистрации: &quot;Я без багажа, опаздываю, зарегистрируйте меня в Ujung Pandang&quot; (другое название Makassar'а). На что мне девушка сказала в лучших традициях СССР: &quot;Все летят в Ujung Pandang! Займите очередь!&quot;. Тем не менее за следующие 5 минут мне как то удалось зарегистрироваться. <br /><br />
К счастью паспортный контроль на вылет проходит гораздо легче - никого не мурыжат.<br /><br />
<span style="font-weight: bold">Житье в Тана Торадже</span><br />
Деревня она и есть деревня. По вечера делать абсолютно нечего, кроме как пить пиво под оглушительное кваканье лягушек и порхание светлячков в темноте. Почему в темноте? Электричество там экономят - по всему ресорту горит буквально несколько лампочек.

</p>

<p> <span class="badge badge-primary bg-primary">2011-01-27 21:38:38</span> </p>

<p>
<span style="font-weight: bold">Приложение 2. Про гида и водителя</span><br /><br />
<span style="font-weight: bold">Про гида</span><br /><br />
Гида зовут Udin - у него оказалась даже страничка в фейсбуке. <!-- m --><a class="postlink" href="https://www.facebook.com/profile.php?id=1850676125" rel="ugc" target="_blank">https://www.facebook.com/profile.php?id=1850676125</a><!-- m --><br />
Есть еще сайт <!-- m --><a class="postlink" href="https://udinotrip.blogspot.com/" rel="ugc" target="_blank">https://udinotrip.blogspot.com/</a><!-- m --><br />
Телефон +6285255816376<br /><br />
Познакомились с ним в Форт Роттердаме - он подошел ко мне на входе и спросил не хочу ли я, чтобы он мне все рассказал про форт. Конечно хочу, сказал я, особенно после того как на вопрос сколько это стоит он ответил: а сколько не жалко. Гида, когда ты один, всегда полезно брать хотя бы потому что будет кому тебя сфотографировать на фоне достопримечательности.<br />
<a href="https://www.flickr.com/photos/zhaffsky/5393064728/" class="postlink" rel="ugc" target="_blank">
   <img class="img-fluid d-block mx-auto" src="https://farm6.static.flickr.com/5291/5393064728_c827fecc74_z.jpg" alt="&quot;Этнографическая экспедиция&quot; в Тана Тораджу" title="&quot;Этнографическая экспедиция&quot; в Тана Тораджу" /></a><br /><br />
В процессе экскурсии по форту мы разговорились - он произвел на меня впечатление тем что знал, чем катана отличается от вакидзаси, как Сербия относится к Югославии и кто такой Горбачев. Ну а когда я начал форменным образом зевать от рассказа, как прото-малайцы заселяли территорию нынешней Малайзии - я понял, с этим парнем мне повезло.<br />
- Удин, а не знаешь ли ты хорошего гида по Тана Торадже?<br />
- Я сам гид по Тана Торадже, я оттуда родом, а здесь тусуюсь, чтобы клиентов искать.<br />
- Отлично! Не организуешь ли мне тур на троих с прайвит каром?<br />
Тут он начал оправдываться, что он больше по бекпекерам специализируется, поэтому он предлагает на автобусах ехать в Тана Тораджу. Тем не менее я попросил его предложить цену. К вечеру он цену прислал - она получилась как в агентстве. Поскольку я к тому моменту уже определился с идеей арендовать машину с водителем отдельно и все решать в процессе поездки, то я пригласил его просто в качестве гида, о чем ни разу не пожалел. Удин совершенно не халявил, и свои деньги пытался отработать. Более того - очень напрягался, когда в один из дней мы решили устроить сокращенную программу, отдохнуть и покупаться в бассейне. Все пытался заставить нас что то посмотреть <br /><br />
Вот он развлекает нас<br /><br />

{% include video.html file="udin.mp4" %}

Пока ехали в Тана Тораджу он рассказал историю свою женитьбы. История забавная, поскольку он (протестант) женился на девушке из народа бугис (мусульманке). Когда выяснилось, что нужно жениться (почему нужно, я деликатно спрашивать не стал) то пришлось как то разруливать факт, что семья девушки никогда не согласится, что ее муж - не мусульманин. Поэтому Удин на один день стал мусульманином. Он произнес шахаду и они отпраздновали свадьбу с семьей девушки, после чего его приняли в члены семьи. На следующий день он пошел покаялся и снова принял христианство. Жена тоже конвертировалось в христианство, но с родителями они в отличных отношениях: те даже иногда приезжают к ним в гости на рождество, а если не могут - то поздравляют. <br /><br />
Вот такой там ислам.<br /><br />
<span style="font-weight: bold">Про водителя</span><br /><br />
Водителя можно видеть на фотографии в начале отчета с детишками - он справа. Водитель достался вместе с автомобилем от агентства, хотя Удин несколько напрягался что водитель не местный Тораджа - может заплутать (так кстати пару раз и было). Как оказалось, водитель - тоже мусульманин, но Удин сказал что после конфликтов в центральном Сулавеси 10 лет назад у них с мусульманами теперь крепкая дружба.<br /><br />
По английски водитель, увы, не знал ни слова.<br /><br />
Под конец поездки водилу стало жалко - он был какой то худенький, много курил и пил постоянно M-150 для бодрости. В последние дни мы стали просто брать его с собой поесть. На обратной дороге через Sengkang был забавный случай. Я дал водиле 100 тыс - думаю пусть купит себе чего нибудь вкусного что ли. Водила распорядился ими оригинально: я дал ему денег и пошел на ресепшн, взять пару бутылок Anker'а. Увидев что я беру пиво, водила тут прибежал следом на ресепшн: и мне дайте, и мне!<br /><br />
Вот такой там ислам.
</p>

<p>
</p>
